/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    height: 60px;
    background-color: lightblue;
    display: flex;
    align-items: center;

}

.spotlight{
    height: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.logo{
    height: 20px;
    width: 25%;
    background-color: orange;
    border: 1px dashed black;
}

.link{
    height: 20px;
    width: 50%;
    background-color: orange;
    border: 1px dashed black;
}

.login{
    height: 20px;
    width: 25%;
    background-color: orange;
    border: 1px dashed black;
}

.ciao{
    height: 300px;
    width: 700px;
    background-color: pink;
    border: 1px dashed black;
}