/* CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    height: 60px;
    background-color: lightblue;
    display: flex;
}

.spotlight{
    height: 400px;
    background-color: blue;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.logo{
    height: 20px;
    width: 25%;
    background-color: orange;
}

.link{
    height: 20px;
    width: 50%;
    background-color: orange;
}

.login{
    height: 20px;
    width: 25%;
    background-color: orange;
}